@model Blog.Models.Post


<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>

<div class="modal" style="position:static;display:inline-block">
    @if(Model.Id != -1)
    { 
       <label class="about-label"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Post</label>
    }
    else
    {
        <label class="about-label"><i class="fa fa-sticky-note" aria-hidden="true"></i> New Post</label>
    }

    <form id="postForm" method="post" action="@Url.Action("Update" , "Posts")" enctype="multipart/form-data" class="pure-form pure-form-stacked" style="padding-top:50px;">

        <fieldset style="padding:10px;">
            @if (Model.Id != -1) //this post is already exist and has an id
            {
                <input type="hidden" name="id" value="@Model.Id" />
            }
            
            <div class="pure-control-group">
                <label class="lbl" for="title">Title</label>
                <input type="text" name="Title" id="Title" autofocus="autofocus" class="pure-input-2-3" placeholder="Post title..." required value="@Model.Title" />
                @Html.ValidationMessageFor(x => x.Title, "", new { @class = "pure-form-message" })
            </div>
            <br />

            <div class="pure-control-group">
                <label class="lbl" for="tags">Tags</label>
                <input type="text" class="pure-input-2-3" name="tags" id="tags" placeholder="Hashtags..." value="@ViewBag.Tags"/> 
            </div>
            <br />

            <div class="pure-control-group">
                <label class="lbl" for="tags">Post Image</label>
                <input type="file" class="pure-input-2-3" name="PostImageFile" />
            </div>
            <br />

            <div class="pure-control-group">
                @*<textarea name="body" id="postBody" class="text-area pure-input-1-2" style="width:400px;" required placeholder="Post body..." rows="10" cols="60">@Model.Body</textarea>*@ 
                <textarea class="ckeditor" id="editor" name="body">@Model.Body</textarea>
                @Html.ValidationMessageFor(x => x.Body, "", new { @class = "pure-form-message" })
            </div>
            <br />

            <div class="pure-controls" style="text-align:center">
                <button type="submit" class="pure-button pure-button-primary" >
                    <i class='fa fa-sign-in'></i> Save
                </button>
            </div>
        </fieldset>
    </form>
</div>

<script>
    CKEDITOR.replace('editor', {
        // Define the toolbar groups as it is a more accessible solution.
        toolbarGroups: [{
            "name": "basicstyles",
            "groups": ["basicstyles"]
        },
          {
              "name": "links",
              "groups": ["links"]
          },
          {
              "name": "paragraph",
              "groups": ["list", "blocks"]
          },
          {
              "name": "document",
              "groups": ["mode"]
          },
          {
              "name": "insert",
              "groups": ["insert"]
          },
          {
              "name": "styles",
              "groups": ["styles"]
          },
          {
              "name": "about",
              "groups": ["about"]
          }
        ],
        // Remove the redundant buttons from toolbar groups defined above.
        removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
    });
</script>