@model Blog.Models.Post

@*@if (Model.Id != -1)
{
    
    ViewBag.Title = "Edit Post";
    
    <div class="formHeader">
       Edit Post
    </div>
}
else
{
    
    ViewBag.Title = "New Post";
    
    <div class="formHeader">
       New Post
    </div>
}*@


@*<div class="form">
    <form action="@Url.Action("Update" , "Posts")" method="post" id="postForm">
        @if (Model.Id != -1) //this post is already exist and has an id
        {
            <input type="hidden" name="id" value="@Model.Id" />
        }
        <div class="inputCenterContainer">
            <label class="inputLabel">Title</label> <br />
            <input type="text" class="inputTextBox" name="title" placeholder="Post title." value="@Model.Title" /> <br />
            @Html.ValidationMessage("title", "", new { @class = "text-danger" })
        </div>

        <div class="inputCenterContainer">
            <label class="inputLabel">Tags</label> <br />
            <input type="text" class="inputTextBox" name="tags" placeholder="Tags name." value="@ViewBag.Tags" /> <br />
        </div>

        <div class="inputCenterContainer">
            <textarea name="body" class="inputTextBox" style="width:500px;" placeholder="Post..." rows="10" cols="80">@Model.Body</textarea> <br />
            @Html.ValidationMessage("body", "", new { @class = "text-danger" })
        </div>

        <input class="inputSubmit" type="submit" name="submit" value="Submit" />
    </form>
</div>*@

<div class="modal" style="position:static;display:inline-block">
    @if(Model.Id != -1)
    { 
       <label class="about-label"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Post</label>
    }
    else
    {
        <label class="about-label"><i class="fa fa-sticky-note" aria-hidden="true"></i> New Post</label>
    }

    <form id="postForm" method="post" action="@Url.Action("Update" , "Posts")" class="pure-form pure-form-stacked" style="padding-top:50px;">

        <fieldset style="padding:10px;">
            @if (Model.Id != -1) //this post is already exist and has an id
            {
                <input type="hidden" name="id" value="@Model.Id" />
            }
            
            <div class="pure-control-group">
                <label class="lbl" for="title">Title</label>
                <input type="text" name="Title" id="Title" autofocus="autofocus" class="pure-input-2-3" placeholder="Post title..." required value="@Model.Title" />
                @Html.ValidationMessageFor(x => x.Title, "", new { @class = "pure-form-message" })
            </div>
            <br />

            <div class="pure-control-group">
                <label class="lbl" for="tags">Tags</label>
                <input type="text" class="pure-input-2-3" name="tags" id="tags" placeholder="Hashtags..." value="@ViewBag.Tags"/> 
            </div>
            <br />

            <div class="pure-control-group">
                <textarea name="body" id="postBody" class="text-area pure-input-1-2" style="width:400px;" required placeholder="Post body..." rows="10" cols="60">@Model.Body</textarea> 
                @Html.ValidationMessageFor(x => x.Body, "", new { @class = "pure-form-message" })
            </div>
            <br />

            <div class="pure-controls" style="text-align:center">
                <button type="submit" class="pure-button pure-button-primary" >
                    <i class='fa fa-sign-in'></i> Save
                </button>
            </div>
        </fieldset>
    </form>
</div>
@*  Stop here ************************************************************************************* *@