@model Blog.Models.Post

@if (Model.Id != -1)
{
    
    ViewBag.Title = "Edit Post";
    
    <div class="formHeader">
       Edit Post
    </div>
}
else
{
    
    ViewBag.Title = "New Post";
    
    <div class="formHeader">
       New Post
    </div>
}


<div class="form">
    <form action="@Url.Action("Update" , "Posts")" method="post" id="postForm">
        @if (Model.Id != -1) //this post is already exist and has an id
        {
            <input type="hidden" name="id" value="@Model.Id" />
        }
        <div class="inputCenterContainer">
            <label class="inputLabel">Title</label> <br />
            <input type="text" class="inputTextBox" name="title" placeholder="Post title." value="@Model.Title" /> <br />
            @Html.ValidationMessage("title", "", new { @class = "text-danger" })
        </div>

        <div class="inputCenterContainer">
            <label class="inputLabel">Tags</label> <br />
            <input type="text" class="inputTextBox" name="tags" placeholder="Tags name." value="@ViewBag.Tags" /> <br />
        </div>

        <div class="inputCenterContainer">
            <textarea name="body" class="inputTextBox" style="width:500px;" placeholder="Post..." rows="10" cols="80">@Model.Body</textarea> <br />
            @Html.ValidationMessage("body", "", new { @class = "text-danger" })
        </div>

        <input class="inputSubmit" type="submit" name="submit" value="Submit" />
    </form>
</div>
