@model Blog.Models.Administrator

@{
    ViewBag.Title = "Swilam";
}

<div class="about-section">
    <div class="inner-width">
        <h1></h1>
        <div class="about-section-row">
            <div class="about-section-col">
                <div class="image">
                    <img id="portrait" src="@Url.Content(Model.PicUrl)" alt="Portrait" />
                </div>
            </div>
            <div class="about-section-col">
                <div class="info">
                    <label class="about-label"><i class="fa fa-user-circle-o" aria-hidden="true"></i> @Model.Name </label>
                    <label class="about-label"><i class="fa fa-university" aria-hidden="true"></i> @Model.Education </label>
                    <label class="about-label"><i class="fa fa-calendar" aria-hidden="true"></i> Born on @Model.Birthdate.Value.Date.ToShortDateString() </label>
                    <label class="about-label"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>  @Model.Country </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inner-width">
    <div class="about-section-row">
        <div class="about">
            <h1 class="about-label" style="padding-left:10px;"><i class="fa fa-info-circle" aria-hidden="true"></i> Bio</h1>
            <p class="about-label p1" style="padding-top:1em;">@Model.Bio</p>
        </div>

        <div class="about-section">
            <div class="about-section-row">
                @* auto for adding more skills." *@
                <div class="about-section-col" style="height:auto">
                    <div class=" about" style="padding:10px;">
                        <h1 class="about-label"><i class="fa fa-cogs" aria-hidden="true"></i> Skills</h1>
                        <ul id="skillsList">
                            <li>ASP.NET MVC.</li>
                            <li>jQuery.</li>
                            <li>Javascript.</li>
                            <li>C#.</li>
                            <li>AJAX.</li>
                            <li>LINQ.</li>
                            <li>Entity Framework.</li>
                            <li>ADO.NET.</li>
                            <li>HTML.</li>
                            <li>CSS.</li>
                        </ul>
                    </div>
                </div>
                <div class="about-section-col">
                    <h1 class="about-label" style="padding:10px;"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact</h1>
                    <div class="about-section">
                        <div class="about" style="display:grid; width:300px;">
                            <a href="https://twitter.com/muswilam">
                                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                            </a>
                            <a href="https://github.com/muswilam">
                                <i class="fa fa-github" aria-hidden="true"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/muhammad-swilam-a479a1b0/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
                            </a>
                            <a href="MailTo://@Model.Email">
                                <i class="fa fa-envelope" aria-hidden="true"></i> @Model.Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>