@model Blog.ViewModel.AboutAdminViewModel

@using Blog.Common;

@{
    ViewBag.Title = "Swilam";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="about-section">
    <div class="inner-width">
        <h1></h1>
        <div class="about-section-row">
            <div class="about-section-col">
                @* Edit profile if you admin *@
                @if (Model.IsAdmin)
                {
                    <div class="edit-admin about">
                        <a href="#myModal" rel="modal:open" style="float:right; padding:7px 13px"><i class="fa fa-pencil"></i> Edit profile</a>
                    </div>
                    <div id="myModal" class="modal">

                        <form class="pure-form pure-form-aligned" id="editForm">
                            <fieldset>
                                <input type="hidden" name="id" value="@Model.Administrator.Id" />

                                <div class="pure-control-group" style="text-align:center">
                                    <div id="picArea" style="text-align:center">
                                        @if (!string.IsNullOrEmpty(Model.Administrator.ProfilePic))
                                        {
                                            <div id="picTemplate">
                                                <img src="@Url.Content(Model.Administrator.ProfilePic)" class="image" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="picTemplate">
                                                <img src="@Href("~/Images/default_user.jpg")" alt="default" class="image" />
                                            </div>
                                        }
                                    </div>
                                    <input id="selectPic" name="picture" type="file" class="pure-input-1-2" pic-href="@Href("~/accounts/UploadImage/")" />
                                    <input type="hidden" id="profileImgUrl" name="ProfileImgUrl" value="@Model.Administrator.ProfilePic" />
                                </div> <br />

                                <div class="pure-control-group">
                                    <label for="name">Name</label>
                                    <input id="name" name="name" type="text" class="pure-input-1-2" value="@Model.Administrator.Name" required placeholder="Name.">
                                </div><br />

                                <div class="pure-control-group">
                                    <label for="headline">Headline</label>
                                    <input id="headline" name="headline" type="text" class="pure-input-1-2" value="@Model.Administrator.Headline" placeholder="Headline.">
                                </div><br />

                                <div class="pure-control-group">
                                    <label for="email">Email Address</label>
                                    <input id="email" name="email" type="email" class="pure-input-1-2" value="@Model.Administrator.Email" required placeholder="Email Address.">
                                </div><br />

                                <div class="pure-control-group">
                                    <label for="education">Education</label>
                                    <input id="education" name="education" class="pure-input-1-2" type="text" value="@Model.Administrator.Education" placeholder="Education.">
                                </div><br />

                                <div class="pure-control-group">
                                    <label for="birthdate">Birthdate</label>
                                    <input class="pure-input-1-2" id="birthdate" name="birthdate" value="@Model.Administrator.Birthdate.Value.ToShortDateString()" type="text" onfocus="this.type='date'">
                                </div><br />

                                <div class="pure-control-group">
                                    <label for="biography">Biography</label>
                                    <textarea id="bio" name="bio" class="pure-input-1-2" type="text" placeholder="Bio.">@Model.Administrator.Bio</textarea>
                                </div><br />

                                <div class="pure-control-group">
                                    <label for="Country">Location</label>
                                    <select class="pure-input-1-2" name="country">
                                        @foreach (var country in ViewBag.countries)
                                        {
                                            <option value="@country" @( country == Model.Administrator.Country ? "selected" : string.Empty)>@country</option>
                                        }
                                    </select>
                                </div><br />
                                <div class="pure-control-group">
                                    <div id="errorDiv" class="alert" style="display:none"></div>
                                </div>

                                <div class="pure-controls">
                                    <button type="button" id="save" data-href="@Href("~/accounts/edit")" class="pure-button pure-button-primary">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.Administrator.ProfilePic))
                {
                    <div class="image">
                        <img id="portrait" src="@Url.Content(Model.Administrator.ProfilePic)" alt="portrait" />
                    </div>
                }
                else
                {
                    <div class="image">
                        <img id="portrait" src="@Href("~/Images/default_user.jpg")" alt="portrait" />
                    </div>
                }

                <label class="about-label">@Model.Administrator.Headline</label>


            </div>

            <div class="about-section-col">

                <div class="info">
                    <label class="about-label"><i class="fa fa-user-circle-o" aria-hidden="true"></i> @Model.Administrator.Name </label>
                    <label class="about-label"><i class="fa fa-university" aria-hidden="true"></i> @Model.Administrator.Education </label>
                    <label class="about-label"><i class="fa fa-calendar" aria-hidden="true"></i> Born on @Model.Administrator.Birthdate.Value.Date.ToShortDateString() </label>
                    <label class="about-label"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>  @Model.Administrator.Country </label>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="inner-width">
    <div class="about-section-row">
        <div class="about">
            <h1 class="about-label" style="padding-left:10px;"><i class="fa fa-info-circle" aria-hidden="true"></i> Bio</h1>
            <p class="bio about-label p1" style="padding-top:2em;">@Model.Administrator.Bio</p>
        </div>

        <div class="about-section">

            <div class="about-section-row">
                <div class="about-section-col" style="height:auto">
                    <div class=" about" style="padding:10px;">
                        <h1 class="about-label" style="color:#9c279a"><i class="fa fa-cogs" aria-hidden="true"></i> Skills</h1>

                        @* Add Skill to admin *@

                        @if (Model.IsAdmin)
                        {
                            <div class="about">
                                <a href="#add-skills" rel="modal:open" style="float:right; padding:7px 13px"><i class="fa fa-pencil"></i> Add Skills</a>
                            </div>

                            <div id="add-skills" class="modal">
                                <form class="pure-form pure-form-aligned" id="addSkillsForm">
                                    <fieldset>
                                        <input type="hidden" name="id" value="@Model.Skill.Id" />
                                        <div class="pure-control-group">
                                            <label for="skillName">Name</label>
                                            <input id="skillName" name="name" type="text" class="pure-input-1-2" required placeholder="Skill name.." />
                                        </div>

                                        <div class="pure-control-group">
                                            <label for="type">Type</label>
                                            <select class="pure-input-1-2" name="type">
                                                @foreach (var skillType in Model.SkillsTypes)
                                                {
                                                    <option value="@skillType">
                                                        @skillType
                                                    </option>
                                                }
                                            </select>
                                        </div>

                                        <div class="pure-control-group">
                                            <div id="skillsErrorDiv" class="alert" style="display:none"> </div>
                                        </div>

                                        <div class="pure-controls">
                                            <button type="button" id="addSkill" data-href="@Href("~/accounts/AddSkill?adminId="+Model.Administrator.Id)" class="pure-button pure-button-primary">
                                                <i class="fa fa-save"></i> Save
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        }
                    </div>

                    @* Buttons for open modals : Front & back *@
                    <div class="about">
                        <div class="about-section-row" style="margin-top:30px; padding-left:40px;">
                            <a class="frontSkills" href="#front-skills-modal" rel="modal:open" style="margin-right:5px;">Front-End</a>

                            <a class="backSkills" href="#back-skills-modal" rel="modal:open" style="margin-right:5px;">Back-End</a>
                        </div>
                    </div>

                    @* Front-End Skills Modal *@
                    <div id="front-skills-modal" class="skillsModal modal">
                        <label class="about-label" style="color:#3d6193">Front-End</label>
                        <ul class="skillsList" style="position:static;">
                            @foreach (var skill in Model.Administrator.Skills.Where(s => s.Type == "Front-End").ToList())
                            {
                                <li style="color:#3d6193" data-id="@skill.Id">
                                    @skill.Name

                                    @if (Model.IsAdmin)
                                    {
                                        <span class="deleteSkill" style="float:right"> &times; </span>
                                    }
                                </li>
                            }
                        </ul>
                        <div class="pure-control-group">
                            <div class="deleteError alert" style="display:none"> </div>
                        </div>
                    </div>

                    @* Back-End Skills Modal *@
                    <div id="back-skills-modal" class="skillsModal modal">
                        <label class="about-label" style="color:#9c279a">Back-End</label>
                        <ul class="skillsList" style="position:static;">
                            @foreach (var skill in Model.Administrator.Skills.Where(s => s.Type == "Back-End").ToList())
                            {
                                <li style="color:#9c279a" data-id="@skill.Id">
                                    @skill.Name

                                    @if (Model.IsAdmin)
                                    {
                                        <span class="deleteSkill" style="float:right"> &times; </span>
                                    }
                                </li>
                            }
                        </ul>
                        <div class="pure-control-group">
                            <div class="deleteError alert" style="display:none"> </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.AdminUserName != null && Model.AdminUserName == DefaultAdmin.defaultAdminUserName)
            {
                <div class="about-section-row" style="margin-top:40px;margin-bottom:10px;">
                    <h1 class="about-label" style="padding:10px;"><i class="fa fa-users"></i> Admins</h1>
                    <div class="about" style="margin-left: 30px;">
                        <div class="about-section-row" style="margin-left:50px;margin-top:30px;">
                            <a class="admins" href="#admins" rel="modal:open">Admins</a>
                        </div>
                    </div>

                    <div id="admins" class="modal">
                        <label class="about-label"><i class="fa fa-users"></i> Admins</label>
                        

                        <ul id="adminsList" class="adminsList" style="position:static;">
                            @foreach (var masterAdmin in Model.MasterAdmins)
                            {
                                <li data-name="@masterAdmin.UserName" style="color:#08236d">
                                    @masterAdmin.UserName <span style="float:right"> <i class="fa fa-shield"></i></span>
                                </li>
                            }
                            
                            @foreach (var admin in Model.Admins)
                            {
                                <li data-name="@admin.UserName">
                                    @admin.UserName
                                    <span class="deleteAdmin" style="float:right"> &times; </span>
                                </li>
                            }
                            
                        </ul>
                        
                        <form class="pure-form pure-form-aligned" id="addAdminForm">
                            <fieldset>
                                <legend style="color:white"><i class="fa fa-plus"></i> Add Admin</legend>
                                <div class="pure-control-group" style="text-align:center">
                                    <input type="text" name="Name" id="Name" placeholder="Name.." required />
                                    <input type="text" name="UserName" id="userName" placeholder="User Name.." required />
                                </div>

                                <div class="pure-control-group" style="text-align:center">
                                    <input type="email" name="Email" id="Email" placeholder="Email.." required />
                                    <input type="password" name="Password" id="password" placeholder="Password.." required />
                                </div>
                                <div class="pure-control-group" style="text-align:center">
                                    <label for="isMaster">
                                        <input id="isMaster" value="true" name="IsMaster" type="checkbox"> Admin is master
                                    </label>
                                </div>

                                <div class="pure-control-group">
                                    <div id="addAdminErrorDiv" class="alert" style="display:none"></div>
                                </div>

                                <div class="pure-control-group" style="text-align:center">
                                    <button type="button" id="saveAdmin" data-href="@Href("~/Accounts/AddAdmin")" class="pure-button button-a-mobile-collapsed">
                                        <i class="fa fa-save"></i>  Save
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            }
            <div class="about-section-row">
                <div class="about-section-col">
                    <h1 class="about-label" style="padding:10px;color:#e74c3c"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact</h1>
                    <div class="about-section">
                        <div class="about" style="display:grid; width:300px;">
                            <a href="https://twitter.com/muswilam">
                                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                            </a>
                            <a href="https://github.com/muswilam">
                                <i class="fa fa-github" aria-hidden="true"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/muhammad-swilam-a479a1b0/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
                            </a>
                            <a href="MailTo://@Model.Email">
                                <i class="fa fa-envelope" aria-hidden="true"></i> @Model.Administrator.Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="picTemplate" hidden>
    <img src="" class="image" onclick="removeMe(this)" />
</div>

<script>
    $(document).ready(function () {

        //admins div : add admin
        $("#admins").on('click', '#saveAdmin', function () {
            var linkUrl = $(this).attr("data-href");
            $.ajax({
                url: linkUrl,
                type: "Post",
                data: $("#addAdminForm").serialize()
            })
            .done(function (result) {
                if (result.success) {

                    if (result.isMaster == false) {
                        $("#adminsList").append("<li data-name='" + result.adminUserName + "'>" + result.adminUserName + "  <span class='deleteAdmin' style='float:right'> &times; </span> </li>")
                    } else {
                        $("#adminsList").prepend("<li data-name='" + result.adminUserName + "'style='color:#08236d'>" + result.adminUserName + "  <span  style='float:right'> <i class='fa fa-shield' ></i> </span> </li>")
                    }
                    $("#Name").val('');
                    $("#Email").val('');
                    $("#userName").val('');
                    $("#password").val('');
                    $("#isMaster").prop('checked', false);
                } else {
                    $("#addAdminErrorDiv").show();
                    $("#addAdminErrorDiv").html("<i class='fa fa-bell'></i> " + result.message);
                }
            });
        });

        //admins div : delete admin without refresh after addding 
        $("#admins").on('click', '.deleteAdmin', function () {
            var li = $(this).parent();
            var liName = li.attr("data-name");

            var confirmation = confirm("Are you sure, You wanna delete " + liName + ".");
            var linkUrl = "@Href("~/accounts/DeleteAdmin?userName=")" + liName;

            if (confirmation) {
                $.ajax({
                    url: linkUrl,
                    type: 'Post'
                })
                .done(function (result) {
                    if (result.success) {
                        li.remove();
                    } else {
                        $("#addAdminErrorDiv").show();
                        $("#addAdminErrorDiv").html("<i class='fa fa-bell'></i> " + result.message);
                    }
                });
            }
        });

        //upload image
        $("#selectPic").change(function () {
            var pic = this.files[0];
            var linkUrl = $(this).attr("pic-href");
            var formData = new FormData();
            formData.append("Picture", pic);

            $.ajax({
                url: linkUrl,
                type: 'Post',
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function (ImageUrl) {

                $("#picArea").empty();

                var imgHTML = $("#picTemplate").clone();
                imgHTML.find("img").attr("src", ImageUrl);

                $("#picArea").append(imgHTML.html());
                $("#profileImgUrl").val("~" + ImageUrl);
                debugger;
            })
        });



        //edit profile
        $("#save").click(function () {
            var linkUrl = $(this).attr("data-href");
            $.ajax({
                url: linkUrl,
                type: 'Post',
                data: $("#editForm").serialize()
            })
            .done(function (result) {
                if (result.success) {
                    location.reload();
                } else {
                    $("#errorDiv").show();
                    $("#errorDiv").html("<i class='fa fa-bell'></i> " + result.message);
                }
            });
        });

        //add skill
        $("#addSkill").click(function () {
            var linkUrl = $(this).attr("data-href");
            $.ajax({
                url: linkUrl,
                type: 'Post',
                data: $("#addSkillsForm").serialize()
            })
            .done(function (result) {
                if (result.success) {
                    $("#skillName").val('');
                    location.reload();
                } else {
                    $("#skillsErrorDiv").show();
                    $("#skillsErrorDiv").html("<i class='fa fa-bell'></i> " + result.message);
                }
            });
        })

        //delete skill
        $('.deleteSkill').on('click', function () {
            var li = $(this).parent();
            var liId = li.attr("data-id");
            var linkUrl = "@Href("~/accounts/DeleteSkill/")" + liId;
            $.ajax({
                url: linkUrl,
                type: 'Post',
            }).done(function (result) {
                if (result.success) {
                    li.remove();
                } else {
                    $("#deleteError").show();
                    $("#deleteError").html("<i class='fa fa-bell'></i> " + result.message);
                }
            })
        });
    });
</script>
