<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/logo.png")" style="width:20px;" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("ExtraHeaders", required: false)
    @Scripts.Render("~/bundles/jquery")

</head>
<body id="body">

    @Html.Action("TrendingTags", "Posts")

    <img src="~/Images/weather.png" id="toggleMenu" onclick="toggleMenu()" style="width:60px;" alt="weather">

    <nav id="menu">
        <img class="weatherIcon"/>
        <p class="description"></p>
        <p class="cityName"></p>
        <p class="temp"></p>
    </nav>
   

    <div id="content">
        <div id="main">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div id="copyright">Copyright &copy; @DateTime.Now.Year, <label style="font-family: 'Space Age'">Sully</label> </div>
    </div>

    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    @RenderSection("scripts", required: false)
</body>

</html>

<script>
    $(document).ready(function () {
        $(".navbar").dblclick(function () {
            $("#loginLink").toggle();
            debugger;
        })

        $(function () {
            $("#postSearch").autocomplete({
                source: '@Url.Action("GetCompeletedSearch")',
            });
        });
    });

    var toggleStatus = 0;
    function toggleMenu() {
        if (toggleStatus == 1) {
            document.getElementById("menu").style.left = "-200px";
            document.getElementById("toggleMenu").style.left = "3px";
            toggleStatus = 0;
        } else if (toggleStatus == 0) {
            document.getElementById("menu").style.left = "3px";
            document.getElementById("toggleMenu").style.left = "200px";
            toggleStatus = 1;
        }
    }
</script>

<script>
   
    if ("geolocation" in navigator) { //check geolocation available 
           //try to get user current location using getCurrentPosition() method
        navigator.geolocation.getCurrentPosition(function (position) {
            var lat = position.coords.latitude ;
            var lon = position.coords.longitude;

            debugger;
            var url = "http://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + lon + "&units=metric&APPID=768644037f130039fae040567559985f";

            $.getJSON(url,function(data){
                var icon = "http://openweathermap.org/img/w/" + data.weather[0].icon + ".png";
                var city = data.name;
                var temp = data.main.temp;
                var desc = data.weather[0].description;

                $(".weatherIcon").attr("src", icon);
                $(".weatherMain").append(desc);
                $(".cityName").append(city);
                $(".temp").append(temp + " °C");
                $(".description").append(desc);
            });
        })
     } else {
        console.log("Browser doesn't support geolocation!");
    }
</script>