<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("ExtraHeaders", required: false)
</head>
<body>
    <div id="header">
        <a href="@Href("~/")">
            <img src="@Href("~/images/title.png")" alt="Sully">
        </a>
    </div>
    <div id="content">
        <div id="topSeparator" class="separate"></div>
        <div id="sidebar">
            <div class="image">
                <img id="portrait" src="~/Images/Sully.jpg" alt="Portrait" />
            </div>
            <div id="twitterHeader">
                <a href="https://twitter.com/muswilam?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @@muswilam</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div id="tweets">
                <a class="twitter-timeline" data-theme="dark" data-height="300" data-chrome="noheader nofooter" href="https://twitter.com/muswilam?ref_src=twsrc%5Etfw">Tweets by muswilam</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div id="feedList"><a href="@Href("~/Posts/RSS")">RSS Feed</a></div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="bottomSeparator" class="separate"></div>
    </div>
    <div id="footer">
        <div id="copyright">Copyright &copy; @DateTime.Now.Year, Sully </div>
        @if (ViewBag.IsAdmin ?? false)
        {
            <div class="controlPanel">
                <a href="@Href("~/Posts/Edit")">New Post</a> |
                <a href="@Href("~/Accounts/Logout")">Logout</a>
            </div>
        }
        else
        {
            <div class="controlPanel">
                <a href="@Href("~/accounts/Login")">Login</a>
            </div>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

</html>
