@model Blog.ViewModel.PostViewModel

<div class="navbar">
    <a href="@Href("~/")">
        <img src="@Href("~/images/logo.png")" alt="Logo" style="width:20px;" />
        <img src="@Href("~/images/title.png")" alt="Sully" style="width:100px;">
    </a>
    <a href="@Href("~/Posts/Index/#body")">
        <i class="fa fa-home" aria-hidden="true"></i> Home
    </a>
    <div class="dropdown">
        <button class="dropbtn">
            <i class="fa fa-external-link-square" aria-hidden="true"></i>
            Trending Tags
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        @if(Model.Tags != null && Model.Tags.Count() > 0)
        { 
            foreach (var tag in Model.Tags.OrderByDescending(t => t.Posts.Count()))
            {
                <a href="@Href("~/Posts/Tags?tagName=" + tag.Name)" style="color:darkgoldenrod">#@tag.Name (@tag.Posts.Count())</a>
            }
        }
        </div>
    </div>

    <a href="@Href("~/accounts/aboutadmin")">
         <img src="@Url.Content(ViewBag.adminPic)" class="img" align="top"> Profile 
    </a>

    @if (Model.IsAdmin)
    {
        <a style="float:right" href="@Href("~/Accounts/Logout")"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        <a style="float:right" href="@Href("~/Posts/Edit")"><i class="fa fa-plus-square" aria-hidden="true"></i> New Post</a>
    }
    else
    {
        <a id="loginLink" style="float:right; display:none;" href="@Href("~/accounts/Login")" ><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    }
    <div class="search-container">
        <form action="@Href("~/Posts/Index")">
            <input type="text" name="postSearch" id="postSearch" placeholder="Search..." />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div> 


