@using Blog.ViewModel;

@using Blog.Common;

@helper Render(PostViewModel post, System.Web.Mvc.HtmlHelper html, bool isAdmin, bool showComments)
{

    // index of posts
    if (!showComments)
    {
        if (!string.IsNullOrWhiteSpace(post.TagName))
        {
            <div class="formHeader" style="color:darkgoldenrod; margin-bottom:20px; margin-left:15px;">
                Hashtag :
                @if (post.Posts.TotalItemCount >= TotalTrendingTags.TrendingTagsNumber)
                {
                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                }
                <a href="@Href("~/Posts/Tags?tagName=" + post.TagName + "#postTitle")" style="color:darkgoldenrod; text-decoration:none">
                    #@post.TagName (@post.Posts.TotalItemCount)
                </a>
            </div>
        }
        foreach (var p in post.Posts)
        {
            @PostCodeHelper.Render(p, html, isAdmin);
        }
    }

    // details of post
    if (showComments)
    {
        @PostCodeHelper.Render(post.Post, html, isAdmin);

    <div id="commentContainer">
        <div id="commentPrompt">
            Leave a comment <i class="fa fa-comment-o" aria-hidden="true"></i>
        </div>

        <div id="commentEditor">
            <form id="commentForm">

                <div class="inputContainer">
                    @if (isAdmin)
                    {
                        <label class="inputLabel" style="color:cornflowerblue">Sully</label> <br />
                        <input type="hidden" name="name" value="Sully" />

                        <input type="hidden" name="email" value="jackswilam@gmail.com" />

                        <input type="hidden" name="isAdmin" value="true" />
                    }
                    else
                    {
                        <div class="inputContainer">
                            <label class="inputLabel"> Name</label> <br />
                            <input type="text" class="inputTextBox" id="commentName" name="name" required placeholder="Please, Enter your name." />
                            <label id="nameError" class="text-danger"></label><br />

                            <label class="inputLabel"> Email </label> <br />
                            <input type="email" class="inputTextBox" id="commentEmail" name="email" placeholder="Optional" /><br />
                            <label id="emailError" class="text-danger"></label><br />
                        </div>
                    }

                    <textarea class="inputTextBox" id="commentBody" name="body" rows="5" style="width:400px;" cols="60" required placeholder="Comment..."></textarea>
                    <label id="commentError" class="text-danger"></label>
                    <button id="commentSubmitBtn" data-href="@Href("~/Posts/Comment/" + post.Post.Id)" target-href="@Href("~/Posts/GetComments/" + post.Post.Id)" type="button" class="commentSubmit">
                        Save <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>

            </form>
        </div>

        <a id="comments"></a>

        @if (post.Post.Comments != null && post.Post.Comments.Count > 0)
        {
            <div class="commentsText">
                Comments <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <br />
            <div class="comments" id="commentsDiv">
                @foreach (var comment in post.Comments)
                {
                    <div class="comment" id="comment">

                        @if (isAdmin)
                        {
                            <div class="commentControlPanel">
                                <button type="button" id="deleteLink" class="inputSubmit" data-href="@Href("~/Posts/DeleteComment/" + comment.Id)" style="color:red">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                </button>
                            </div>
                        }
                        <div class="commentName">
                            @if (!string.IsNullOrWhiteSpace(comment.Email) && comment.IsAdmin)
                            {
                                <a href="mailto:@comment.Email" style="color: cornflowerblue; font-size:15px;">
                                    <i class="fa fa-lock" aria-hidden="true"></i> @comment.Name
                                </a>
                            }
                            else if (!string.IsNullOrWhiteSpace(comment.Email))
                            {
                                <a href="mailto:@comment.Email"><i class="fa fa-user" aria-hidden="true"></i> @comment.Name</a>
                            }
                            else
                            {
                                <i class="fa fa-user" aria-hidden="true"></i> @comment.Name
                            }
                            <text> said : </text>
                        </div>
                        <div class="commentBody">
                            @html.Raw(html.Encode(comment.Body).Replace("\n", "<br/>"))
                        </div>
                        <div class="commentTime">
                            at
                            @comment.Time.ToString("HH:mm") on @comment.Time.ToString("dd-MM-yyyy")
                        </div>
                    </div>
                    <br />
                }
            </div>
        }
    </div>
    }
}
