@using Blog.Models;


@helper Render(Post post, System.Web.Mvc.HtmlHelper html, System.Web.Mvc.UrlHelper url, bool isAdmin, int? pageNumber)
{
    <div class="postTitle" id="postTitle">
        <a href="@Href("~/Posts/Details/" + post.Id)"> @post.Title </a>
    </div>

    <div class="postContainer">

        <div class="postTabs">
            @if (post.Time != null)
            {
                <div class="dateTab">
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                    @post.Time.Value.ToString("MMM").ToUpper()  @post.Time.Value.ToString("dd") @post.Time.Value.Year
                </div>
            }

            @if (post.EditTime != null)
            {
                <div class="dateTab">
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                    Edited  @post.EditTime.Value.ToString("MMM").ToUpper() @post.EditTime.Value.ToString("dd") @post.EditTime.Value.Year
                </div>
            }

            @if (post.Comments != null && post.Comments.Count > 0)
            {
                <div class="commentsTab">

                    <a href="@Href("~/Posts/Details/" + post.Id + "#comments")">
                        <i class="fa fa-comments fa-lg" aria-hidden="true"></i>

                        @post.Comments.Count
                    </a>
                </div>
            }
        </div>
        <div class="postContent">
            @if (!string.IsNullOrWhiteSpace(post.PostImageUrl))
            {
                <img src="@url.Content(post.PostImageUrl)" width="600" height="300" />
            }
            <div class="postBody">
                @html.Raw(post.Body)
            </div>
            <div class="tagsList">
                <i class="fa fa-tags fa-lg" aria-hidden="true"></i>

                @foreach (var tag in post.Tags)
                {
                    <a style="color:darkgoldenrod; text-decoration:none; font-size:18px;" href="@Href("~/Posts/Tags?tagName=" + tag.Name)">
                        #@tag.Name
                    </a>
                }
            </div>
            <div class="linkList">
                @{
                    string linkUrl = "http://localhost:65008/posts/details/" + post.Id;
                    string encodedUrl = HttpUtility.UrlEncode(linkUrl);
                    string encodedTitle = HttpUtility.UrlEncode(post.Title);
                }
                <i class="fa fa-share-alt-square fa-2x" aria-hidden="true"></i>

                <a href="http://www.reddit.com/submit?url=@encodedUrl&title=@encodedTitle">
                    <img class="linkImg" src="~/Images/Reddit.png" alt="Reddit" />
                </a>
                <a class="twitter-share-button" href="https://twitter.com/share" date-url="@encodedUrl" date-text="@encodedTitle">
                    <img class="linkImg" src="~/Images/twitter.png" alt="Twitter" />
                </a>
            </div>
        </div>
        @if (isAdmin)
        {
            <div class="postControlPanel">
                <a class="inputSubmit" onclick="return confirm('Are you sure. you wanna delete @post.Title post');" style="color:red" href="@Href("~/Posts/Delete/" + post.Id +"?page=" +pageNumber)">
                    <i class="fa fa-trash-o"></i> Delete
                </a>

                <a class="inputSubmit" style="color:green" href="@Href("~/Posts/Edit/" + post.Id)">
                    <i class="fa fa-pencil"></i> Edit
                </a>
            </div>
        }
    </div>
}