@using Blog.Models;

@helper Render(Post post, System.Web.Mvc.HtmlHelper html, bool isAdmin, bool showComments)
{
    <div class="postTitle">
        <a href="@Href("~/Posts/Details/" + post.Id)"> @post.Title </a>
    </div>
    <div class="postContainer">
        <div class="postTabs">
            <div class="dateTab">
                @post.Time.ToString("dd") @post.Time.ToString("MMM").ToUpper() @post.Time.Year
            </div>

            @if (post.Comments != null && post.Comments.Count() > 0)
            {
                <div class="commentsTab">

                    <a href="@Href("~/Posts/Details/" + post.Id + "#comments")">
                        <img src="~/Images/comment.png" alt="Comment" />
                        @post.Comments.Count()
                    </a>
                </div>
            }

        </div>
        <div class="postContent">
            <div class="postBody">@html.Raw(post.Body)</div>
            <div class="tagsList">
                @foreach (var tag in post.Tags)
                {
                    <span class="tag"> <a href="@Href("~/Posts/Tags?tagName=" + tag.Name)">@tag.Name</a></span>
                }
            </div>
            <div class="linkList">
                @{
                    string url = "http://localhost:65008/posts/details/" + post.Id;
                    string encodedUrl = HttpUtility.UrlEncode(url);
                    string encodedTitle = HttpUtility.UrlEncode(post.Title);
                }
                <a href="http://www.reddit.com/submit?url=@encodedUrl&title=@encodedTitle">
                    <img class="linkImg" src="~/Images/Reddit.png" alt="Reddit" />
                </a>
                <a class="twitter-share-button" href="https://twitter.com/share" date-url="@encodedUrl" date-text="@encodedTitle">
                    <img class="linkImg" src="~/Images/twitter.png" alt="Twitter" />
                </a>
            </div>
        </div>
        @if (isAdmin)
        {
            <div class="postControlPanel">
                <a href="@Href("~/Posts/Delete/" + post.Id)">Delete</a>
                <a href="@Href("~/Posts/Edit/" + post.Id)">Edit</a>
            </div>
        }
    </div>

    if (showComments)
    {
        <div id="commentContainer">

            <div id="commentPrompt">Leave a comment</div>

            <div id="commentEditor">
                <form id="commentForm">
                    <label class="inputLabel"> Name</label> <br />
                    <input type="text" class="inputTextBox" id="commentName" name="name" required placeholder="Please, Enter your name." /> <br />

                    <label class="inputLabel"> Email </label> <br />
                    <input type="text" class="inputTextBox" id="commentEmail" name="email" placeholder="Optional" /><br />

                    <textarea class="inputTextBox" id="commentBody" name="body" rows="5" style="width:400px;" cols="60" placeholder="Comment..."></textarea>


                    <button id="commentSubmitBtn" data-href="@Href("~/Posts/Comment/" + post.Id)" target-href="@Href("~/Posts/GetComments/" + post.Id)" type="button" class="commentSubmit">
                        Save
                    </button>

                </form>
            </div>

            <a id="comments"></a>

            @if (post.Comments != null && post.Comments.Count() > 0)
            {
                <div class="commentsText">Comments</div>
                <br />
                <div class="comments">

                    @foreach (var comment in post.Comments.OrderByDescending(c => c.Time))
                    {
                    <div class="comment">
                        <div class="commentName">
                            @if (!string.IsNullOrWhiteSpace(comment.Email))
                            {
                                <a href="mailto:@comment.Email">@comment.Name</a>
                            }
                            else
                            {
                                @comment.Name
                            }
                            <text> said : </text>
                        </div>
                        <div class="commentBody">
                            @html.Raw(html.Encode(comment.Body).Replace("\n", "<br/>"))
                        </div>
                        <div class="commentTime">
                            at
                            @comment.Time.ToString("HH:mm") on @comment.Time.ToString("dd-MMM-yyyy")
                        </div>
                        @if (isAdmin)
                        {
                            <div class="commentControlPanel">
                                <a href="@Href("~/Posts/DeleteComment/" + comment.Id)">Delete</a>
                            </div>
                        }
                    </div>
                    <br />
                    }
                </div>
            }

        </div>
    }
}

