@using Blog.ViewModel;

@using Blog.Common;


@helper Render(PostViewModel post, System.Web.Mvc.HtmlHelper html, System.Web.Mvc.UrlHelper url, bool isAdmin, bool showComments)
{

    // index of posts
    if (!showComments)
    {
        if (!string.IsNullOrWhiteSpace(post.TagName))
        {
            <div class="formHeader" style="color:darkgoldenrod; margin-bottom:20px; margin-left:15px;">
                Hashtag :
                @if (post.Posts.TotalItemCount >= TotalTrendingTags.TrendingTagsNumber)
                {
                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                }
                <a href="@Href("~/Posts/Tags?tagName=" + post.TagName + "#postTitle")" style="color:darkgoldenrod; text-decoration:none">
                    #@post.TagName (@post.Posts.TotalItemCount)
                </a>
            </div>
        }
        foreach (var p in post.Posts)
        {
            @PostCodeHelper.Render(p, html, url, isAdmin, post.PageNumber, showComments);
        }
    }

    // details of post
    if (showComments)
    {
        @PostCodeHelper.Render(post.Post, html, url, isAdmin, post.PageNumber, showComments);
    <br />
    <div id="commentContainer">
        <div id="commentPrompt">
           Your comment <i class="fa fa-comment-o" aria-hidden="true"></i>
        </div> <hr />

        <div id="commentEditor">
            <form id="commentForm" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group" style="text-align:center">
                        @if (isAdmin)
                        {
                            <input type="hidden" name="name" value="Sully" />

                            <input type="hidden" name="email" value="jackswilam@gmail.com" />

                            <input type="hidden" name="isAdmin" value="true" />
                        }
                        else
                        {
                            <div class="pure-control-group">
                                <input type="text" style="background-color:#262748" id="commentName" name="name" required placeholder="Name required." />
                                <input type="email" style="background-color:#262748" id="commentEmail" name="email" placeholder="Email optional." /><br />

                                <label id="nameError" style="text-align:left;font-size:14px;" class="text-danger"></label>
                                <label id="emailError" style="text-align:left;font-size:14px;margin-left:12px;" class="text-danger"></label>
                            </div>
                        }
                        <div class="pure-control-group">
                            <textarea class="pure-input-2-2" id="commentBody" name="body" rows="3" style="width:338px;background-color:#262748" cols="60" required placeholder="Comment..."></textarea><br />
                            <label id="commentError" style="text-align:left;font-size:14px;" class="text-danger"></label>
                        </div>

                        <div class="pure-controls" style="margin-left:5px;">
                            <button class="pure-button" style="background-color:#e74c3c" id="commentSubmitBtn" data-href="@Href("~/Posts/Comment/" + post.Post.Id)" target-href="@Href("~/Posts/GetComments/" + post.Post.Id)" type="button">
                                Save <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

       

        <a id="comments"></a>

        @if (post.Post.Comments != null && post.Post.Comments.Count > 0)
        {
            <div class="commentsText">
                Comments <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
             <hr /><br /><br />
            <div class="comments" id="commentsDiv">
                @foreach (var comment in post.Comments)
                {
                    <div class="comment" id="comment">
                        @* pin comment *@
                        @if (isAdmin)
                        {
                            if (post.Post.PinCommentId.HasValue && comment.Id == post.Post.PinCommentId.Value)
                            {
                                <span data-href="@Href("~/posts/UnPinComment/" + @comment.PostId )" class="unPinComment">
                                    <img src="~/Images/unpin.png" style="width:30px; float:right" />
                                    <label style="float:right">Pinned</label>
                                </span>
                            }
                            else
                            {
                                <span data-href="@Href("~/posts/PinComment/" + @comment.PostId + "?commentId=" + @comment.Id)" class="pinComment">
                                    <img src="~/Images/pin.png" style="width:30px; float:right" />
                                </span>
                            }
                            
                            <div class="commentControlPanel">
                                <button type="button" id="deleteLink" class="inputSubmit" data-name="@comment.Name" data-href="@Href("~/Posts/DeleteComment/" + comment.Id)" style="color:red">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                </button>
                            </div>
                        }
                        else
                        {
                            if (post.Post.PinCommentId.HasValue && comment.Id == post.Post.PinCommentId.Value)
                            {
                                <img src="~/Images/pin.png" style="width:30px; float:right" />
                                <label style="float:right; background-color:#e74c3c; font-size:16px">Pinned by admin</label>
                            }
                        }
                         
                        <div class="commentName">
                            @if (!string.IsNullOrWhiteSpace(comment.Email) && comment.IsAdmin)
                            {
                                <a href="mailto:@comment.Email" style="color: cornflowerblue; font-size:15px;">
                                    <i class="fa fa-lock" aria-hidden="true"></i> @comment.Name
                                </a>
                            }
                            else if (!string.IsNullOrWhiteSpace(comment.Email))
                            {
                                <a href="mailto:@comment.Email"><i class="fa fa-user" aria-hidden="true"></i> @comment.Name</a>
                            }
                            else
                            {
                                <i class="fa fa-user" aria-hidden="true"></i> @comment.Name
                            }
                            <text> said : </text>
                        </div>
                        <div class="commentBody">
                            @html.Raw(html.Encode(comment.Body).Replace("\n", "<br/>"))
                        </div>
                        <div class="commentTime">
                            at
                            @comment.Time.ToString("HH:mm") on @comment.Time.ToString("dd-MM-yyyy")
                        </div>
                    </div>
                    <br />
                }
            </div>
        }
    </div>
    }
}
